<div class="result">
  <!--<img [src]={{`https://cryptocompare.com/${IMAGEURL}`}}/>-->

  <div>
      <p class="precio">El precio es de : <span>{{resultado.PRICE}}</span></p>
      <p class="texto">El precio mas alto : <span>{{resultado.HIGHDAY}}</span></p>
      <p class="texto">El precio mas bajo: <span>{{resultado.LOWDAY}}</span></p>
      <p class="texto">Variacion : <span>{{resultado.CHANGEPCT24HOUR}}</span></p>
      <p class="texto">Ultima actualizacion : <span>{{resultado.LASTUPDATE}}</span></p>
  </div>

</div>
